In [4]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-09-21 15:40:17--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv’

car_fuel_efficiency 100%[===================>] 853.70K  --.-KB/s    in 0.009s

2025-09-21 15:40:17 (90.2 MB/s) - ‘car_fuel_efficiency.csv’ saved [874188/874188]

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [9]:
df.shape

(9704, 11)

In [8]:
pd.__version__

'2.3.1'

In [12]:
df['fuel_type'].nunique()

2

In [19]:
(df.isnull().sum() > 0).values.sum()

np.int64(4)

In [20]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [21]:
df.groupby('origin').max().fuel_efficiency_mpg

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

In [32]:
m1 = df.horsepower.median()
mode = df.horsepower.mode()
df.horsepower.fillna(mode[0], inplace=True)
m2 = df.horsepower.median()
m1, m2

/tmp/ipykernel_5577/1642414825.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.horsepower.fillna(mode[0], inplace=True)

(np.float64(149.0), np.float64(152.0))

In [40]:
X = df[df.origin == 'Asia'][['vehicle_weight', 'model_year']].head(7).values
XTX = np.linalg.inv(X.T.dot(X))
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [43]:
w = XTX.dot(X.T).dot(y).sum()

In [44]:
w

np.float64(0.5187709081074016)